<%= render 'ze/shared/subtitle' %>

<h1><%= @title %></h1>

<p>
  <strong>Nom</strong> <%= @record.host %><br />
  <strong>Zone</strong> <%= @record.zone %><br />
  <strong>Type</strong> <%= @record.rtype %><br />
  <strong>Cible</strong> <%= @record.data %>
</p>

<p>
  <%= link_to "Retour aux enregistrements DNS de type CNAME", admin_ze_dns_cname_records_path %> |
  <%= link_to "Modifier", edit_admin_ze_dns_cname_record_path(@record) %> |
  <%= link_to "Supprimer", admin_ze_dns_cname_record_path(@record),
                             :method => :delete,
                             :confirm => "Supprimer #{@record.host} ?",
                             :title => "Supprimer #{@record.host}" %>
</p>
