<div class="field">
  <%= f.check_box :dns %>
  <%= f.label :dns, "DNS" %>
</div>
<div class="field">
  <%= f.check_box :alias %>
  <%= f.label :alias, "Alias" %>
</div>
<div class="field">
  <%= f.check_box :admin %>
  <%= f.label :admin, "Administrateur total" %>
</div>
