<h1><%= @title %></h1>

<%= form_for(@privileged_user) do |f| %>
  <%= render 'fields', :f => f %>
  <fieldset>
    <legend>Privilèges</legend>
    <%= render 'privileges_fields', :f => f %>
  </fieldset>
  <div class="actions">
    <%= f.submit "Soumettre" %>
  </div>
<% end %>
