<h1><%= @title %></h1>

<%= form_tag(domain_names_path, :method => "get", :class => "search round") do %>
  <%= label_tag(:ip, "ip : ") %>
  <%= text_field_tag(:ip) %>
  <%= label_tag(:name, "nom : ") %>
  <%= text_field_tag(:name) %>
  <%= submit_tag "Chercher" %>
<% end %>

<%= will_paginate %>

<ul class="dns">
  <% @domain_names.each do |idns| %>
    <li>
      Name: <%= idns.name %> ttl: <%= idns.ttl %>
      rdtype: <%= idns.rdtype %> rdata: <%= idns.rdata %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
