<h1><%= @title %></h1>

<%= form_for(@domain_name, :url => admin_domain_name_path(@domain_name)) do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit "Modifier" %>
  </div>
<% end %>

<p>
  <%= link_to "Retour au profil de #{@domain_name.get_short_name}", admin_domain_name_path(@domain_name) %> | 
  <%= link_to "Retour à la liste des DNS", admin_domain_names_path %>
</p>
