<h1><%= @title %></h1>

<%= form_for(@domain_name, :url => admin_domain_names_path) do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit "Nouveau nom" %>
  </div>
<% end %>

<p>
  <%= link_to "Retour à la liste des DNS", admin_domain_names_path %> | 
  <%= link_to "Retour à mon profil", current_privileged_user %>
</p>
