<h1><%= @title %></h1>

<p>
  <strong>Nom</strong> <%= @domain_name.name %><br />
  <strong>Type</strong> <%= @domain_name.rdtype %><br />
  <strong>Redirige vers</strong> <%= @domain_name.rdata %>
</p>

<p>
  <%= link_to "Retour à la liste des DNS", admin_domain_names_path %> |
  <%= link_to "Modifier", edit_admin_domain_name_path(@domain_name) %> |
  <%= link_to "Supprimer", admin_domain_name_path(@domain_name),
                           :method => :delete,
                           :confirm => "Supprimer #{@domain_name.get_short_name} ?",
                           :title => "Supprimer #{@domain_name.get_short_name}" %>
</p>
