<h1><%= @title %></h1>

<%= render 'admin/shared/warning' %>

<%= form_for(@record, :url => admin_dns_record_path(@record)) do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit "Modifier" %>
  </div>
<% end %>

<p>
  <%= link_to "Retour au profil", admin_dns_record_path(@record) %> |
  <%= link_to "Liste des enregistrements DNS", admin_dns_records_path %>
</p>
