<h1><%= @title %></h1>

<%= form_for(@zone) do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit "Modifier" %>
  </div>
<% end %>
	  
<p>
  <%= link_to "Retour au profil de #{@zone.name}", @zone %> |
  <%= link_to "Retour à la liste des zones", admin_zones_path %>
</p>
