<h1><%= @title %></h1>

<% if @zones.count > 0 %>
<table class="unames">
  <caption><%= @title %></caption>

  <thead>
    <tr>
      <th>Nom</th>
      <th>Zone</th>
    </tr>
  </thead>

  <tbody>
    <% @zones.each do |zone| %>
    <tr>
      <td>
        <%= link_to zone.name, zone %><br />
        <%= link_to "Modifier", edit_admin_zone_path(zone) %> | 
        <%= link_to "Supprimer", zone, :method => :delete,
	                               :confirm => "Supprimer #{zone.name} ?",
				       :title => "Supprimer #{zone.name}" %>
      </td>
      <td><%= zone.zone %></td>
    </tr>
    <% end %>
  </tbody>

</table>
<% end %>

<p>
  <%= link_to "Nouvelle zone", new_admin_zone_path %>
</p>
