<h1><%= @title %></h1>

<p>
  <strong>Nom</strong> <%= @record.host %><br />
  <strong>Zone</strong> <%= @record.zone %><br />
  <strong>Type</strong> <%= @record.rtype %><br />
  <strong>Données</strong> <%= @record.data %>
</p>

<p>
  <%= link_to "Retour aux enregistrements DNS", dns_records_path %>
  <% if @record == current_domain_name %>
     | 
    <%= link_to "Modifier", edit_zone_dns_path_to(@record) %> | 
    <%= link_to "Supprimer", zone_dns_path_to(@record),
                             :method => :delete,
                             :confirm => "Supprimer #{@record.host} ?",
                             :title => "Supprimer #{@record.host}" %>
  <% end %>
</p>
