<h1>All Dns</h1>

<% @dns = @dns.paginate(:page => params[:page]) %>

<%= will_paginate %>

<ul class="dnss">
  <% @dns.each do |idns| %>
    <li>
      Name: <%= idns.name %> ttl: <%= idns.ttl %>
      rdtype: <%= idns.rdtype %> rdata: <%= idns.rdata %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
