<h1><%= @title %></h1>

<%= form_for(@unauthorized_name) do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit "Nouveau nom interdit" %>
  </div>
<% end %>

<p>
  <%= link_to "Retour à la liste des noms interdits", admin_unauthorized_names_path %> | 
  <%= link_to "Retour à mon profil", current_privileged_user %>
</p>
