<%= render 'ze/shared/subtitle' %>

<h1><%= @title %></h1>

<%= form_for(@record, :url => zone_dns_path_to(@record)) do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit "Modifier" %>
  </div>
<% end %>

<%= render 'host_rules' %>

<p>
  <%= link_to "Retour au profil", dns_path_to(@record) %> |
  <%= link_to "Liste des DNS", dns_records_path %>
</p>
