<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :short_name, "Nom" %>
  <%= f.text_field :short_name, :value => @cname.get_short_name %>
</div>
<div class="field">
  <%= f.label :short_dest, "Vers" %>
  <%= f.text_field :short_dest, :value => @cname.get_short_dest %>
</div>
