<h1><%= @title %></h1>

<%= render 'shared/dns_search_form', :object => { :search_path => admin_cnames_path, :search_ip => false } %>

<%= will_paginate %>

<% if @cnames.any? %>
<table class="dns">
  <caption><%= @title %></caption>

  <thead>
    <tr>
      <th>Nom</th>
      <th>Type</th>
      <th>Redirige vers</th>
    </tr>
  </thead>

  <% if @cnames.count > 15 %>
  <tfoot>
    <tr>
      <th>Nom</th>
      <th>Type</th>
      <th>Redirige vers</th>
    </tr>
  </tfoot>
  <% end %>

  <tbody>
    <% @cnames.each do |idns| %>
    <tr>
      <td>
        <%= link_to trunc(idns.name, 40), admin_cname_path(idns), :title => idns.name %><br />
        <%= link_to "Modifier", edit_admin_cname_path(idns) %> |
        <%= link_to "Supprimer", admin_cname_path(idns),
                                 :method => :delete,
	                         :confirm => "Supprimer #{idns.name} ?",
	                         :title => "Supprimer #{idns.name}" %>
      </td>
      <td><%= idns.rdtype %></td>
      <td><%= trunc(idns.rdata, 22) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= will_paginate %>

<p>
  <%= link_to "Nouvel alias", new_admin_cname_path %>
</p>
