<h1><%= @title %></h1>

<%= render 'shared/dns_search_form', :object => { :search_path => reverse_domain_names_path, :reverse => true } %>

<%= will_paginate %>

<table class="dns">
  <caption><%= @title %></caption>

  <thead>
    <tr>
      <th>Nom</th>
      <th>Type</th>
      <th>Redirige vers</th>
    </tr>
  </thead>

  <tfoot>
    <tr>
      <th>Nom</th>
      <th>Type</th>
      <th>Redirige vers</th>
    </tr>
  </tfoot>

  <tbody>
    <% @reverse_domain_names.each do |idns| %>
    <tr>
      <td><%= link_to trunc(idns.name, 40), idns, :title => idns.name %></td>
      <td><%= idns.rdtype %></td>
      <td><%= trunc(idns.rdata, 22) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>
