<h1><%= @title %></h1>

<%= render 'shared/dns_search_form', :object => { :search_path => reverse_domain_names_path, :reverse => true } %>

<%= will_paginate %>

<ul class="dnss">
  <% @reverse_domain_names.each do |idns| %>
    <li>
      Name: <%= idns.name %> ttl: <%= idns.ttl %>
      rdtype: <%= idns.rdtype %> rdata: <%= idns.rdata %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
