<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :host, "Nom" %>
  <%= f.text_field :host, :value => @record.host %>
</div>
<div class="field">
  <%= f.label :data, "Cible" %>
  <%= f.text_field :data, :value => @record.data %>
</div>
