<header>
  <%= link_to "Dns App", root_path, :class => "round", :id => "Logo" %>
  <section id="Profile" class="round">
    <ul>
      <li>Ton ip : <%= link_to current_ip, '/about-ip' %></li>
      <li>Zone :
        <% if current_zone.blank? %>
          Aucune
        <% else %> 
          <%= current_zone %>
        <% end %>
      </li>
      <% if current_domain_name.nil? %>
        <% if !current_zone.blank? %>
          <li><%= link_to "Donne un nom à ton ordinateur", new_zone_dns_path_to(current_zone) %></li>
        <% end %>
      <% else %>
        <li>Ton nom : <%= link_to current_domain_name.host, dns_path_to(current_domain_name) %></li>
      <% end %>
      <% if signed_in? %>
        <li>Tu es connecté en tant que :
          <%= link_to current_privileged_user.name, admin_privileged_user_path(current_privileged_user) %>
        </li>
      <% end %>
    </ul>
  </section>
  <nav>
    <%= link_to "Accueil", root_path %> | 
    <%= link_to "Adresse IP", '/about-ip' %> |
    <% if current_privileged_user.nil? %>
      <%= link_to "Se connecter en tant qu'administrateur", signin_path %>
    <% else %>
      <%= link_to "Administration", admin_privileged_user_path(current_privileged_user) %> | 
      <%= link_to "Se déconnecter", signout_path, :method => :delete %>
    <% end %>
  </nav>
</header>
