<header>
  <strong>Note: Working on a copy of actual dns base</strong>
  <section id="Logo" class="round">
	<%= link_to "Dns App", root_path %>
  </section>
  <section id="Profile" class="round">
	<ul>
		<li>Ton ip : <%= current_ip %><!--/<%= verify_ip current_ip %>-->
		<% if signed_in? %>
		(correcte)</li>
		<%   dns = current_dns %>
		<%   if !dns.nil? %>
		<li>Ton nom : <%= link_to dns.name.match(short_name_from_name_regex), dns %></li>
		<%   else %>
		<li><%= link_to "Donne un nom à ton ordinateur", newdns_path %></li>
		<%   end %>
		<% else %>
		<li>(incorrecte)</li>
		<% end %>
	</ul>
  </section>
  <nav>
	<ul>
		<li><%= link_to "Accueil", root_path %></li> | 
		 <li><%= link_to "Administration", signin_path %></li>
	</ul>
  </nav>
</header>
