<header>
  <strong>Note: Working on a copy of actual dns base</strong>
  <nav>
    <li>Ton ip : <%= current_ip %><!--/<%= verify_ip current_ip %>--></li>
    <% if signed_in? %>
    <li>(correcte)</li>
    <%   dns = current_dns %>
    <%   if !dns.nil? %>
    <li>Ton nom : <%= link_to dns.name, dns %></li>
    <%   else %>
    <li><%= link_to "Donne un nom à ton ordinateur", newdns_path %></li>
    <%   end %>
    <% else %>
    <li>(incorrecte)</li>
    <li><%= link_to "Se connecter", signin_path %></li>
    <% end %>
  </nav>
</header>
